*{margin-top:0px;
padding:0px;
font-family:'Times New Roman', Times, serif;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image.png);}


.navbar{
   
   list-style-type:none;
   text-decoration: none;
  font-size: 20px;
 margin-top: 20px;
 color:white;
 background-size: cover;
 background-position: center;

 
}
#title{margin-right:850px}
li {
    display:inline;
    border: 2px solid transparent;
    margin:8px;
   
}
a{
    background: none;
    text-decoration: none;
    color: white
}
ul li:hover{
  background-color: rgb(53, 23, 23); 
    cursor:pointer;
}

#account{
   
    margin-left: 0px;
    padding-left: 0px;
     gap:0px;
}

